body {
    padding: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eeeeee;
}

h1 {
    text-align: center;
}

#main-container {
    border: 0.2rem solid #888888;
    border-radius: 1rem;
    max-width: 60rem;
    margin: auto;
    padding: 1rem;
    background-color: #dddddd;
}

#new-item-container {
    border: 0.15rem solid #888888;
    border-radius: 1em;
    max-width: 60rem;
    margin: auto;
    padding: 0.5rem;
    background-color: #ccffcc;
}
